---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=866ed33741e8c704846e8d0c12775166&lat=10&lon=10&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":10,"lon":10,"timezone":"Africa/Lagos","timezone_offset":3600,"current":{"dt":1655087937,"sunrise":1655096345,"sunset":1655142068,"temp":73.99,"feels_like":74.8,"pressure":1011,"humidity":79,"dew_point":67.06,"uvi":0,"clouds":60,"visibility":10000,"wind_speed":5.57,"wind_deg":209,"wind_gust":15.03,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1655085600,"temp":74.08,"feels_like":74.86,"pressure":1011,"humidity":78,"dew_point":66.79,"uvi":0,"clouds":61,"visibility":10000,"wind_speed":6.06,"wind_deg":209,"wind_gust":15.21,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1655089200,"temp":73.99,"feels_like":74.8,"pressure":1011,"humidity":79,"dew_point":67.06,"uvi":0,"clouds":60,"visibility":10000,"wind_speed":5.57,"wind_deg":209,"wind_gust":15.03,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1655092800,"temp":73.89,"feels_like":74.73,"pressure":1011,"humidity":80,"dew_point":67.33,"uvi":0,"clouds":62,"visibility":10000,"wind_speed":4.92,"wind_deg":209,"wind_gust":12.97,"weather":[{"id":803,"mai[...]
