---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=VYi2xJifNei9jtEJnP6NnNMqAzC7EQjB&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 15 Jun 2022 07:09:35 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=VYi2xJifNei9jtEJnP6NnNMqAzC7EQjB&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1289868730"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=VYi2xJifNei9jtEJnP6NnNMqAzC7EQjB&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-855980463"}]}]}'
  recorded_at: Wed, 15 Jun 2022 07:09:35 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=866ed33741e8c704846e8d0c12775166&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655276976,"sunrise":1655292687,"sunset":1655346574,"temp":55.72,"feels_like":53.58,"pressure":1007,"humidity":55,"dew_point":39.83,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":59,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1655277000,"precipitation":0},{"dt":1655277060,"precipitation":0},{"dt":1655277120,"precipitation":0},{"dt":1655277180,"precipitation":0},{"dt":1655277240,"precipitation":0},{"dt":1655277300,"precipitation":0},{"dt":1655277360,"precipitation":0},{"dt":1655277420,"precipitation":0},{"dt":1655277480,"precipitation":0},{"dt":1655277540,"precipitation":0},{"dt":1655277600,"precipitation":0},{"dt":1655277660,"precipitation":0},{"dt":1655277720,"precipitation":0},{"dt":1655277780,"precipitation":0},{"dt":1655277840,"precipitati[...]
